@media (max-width: 63.9375em) {
    .volume{
        display: none;
    }

    .wrapper{
        max-height: auto;
    }

    .img-area{
        margin-left: 35px;
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin-top: 25px;
        box-shadow: 0px 6px 12px var(--lightbshadow);
        border-radius: 50%;
    }

    .img-area img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .audio-duration{
        display: none;
    }
}